<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ProgPoePart2_6212</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/ProgPoePart2_6212.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ProgPoePart2_6212</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                      
                       
                        
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <div class="container-fluid">
                                    <ul class="navbar-nav mr-auto">
                                    @if (User.IsInRole("Lecturer"))
                                    {
                                        <!-- Lecturer Dashboard -->
                                        <li class="nav-item">
                                            <a class="nav-link text-dark" asp-area="" asp-controller="LecturerClaims" asp-action="Dashboard">Lecturer Dashboard</a>
                                        </li>


                                        <!-- Dropdown for Claim Actions -->
                                        <li class="nav-item dropdown">
                                            <a class="nav-link dropdown-toggle text-dark" href="#" id="claimDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                                Claim Actions
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="claimDropdown">
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="LecturerClaims" asp-action="SubmitClaim">Submit Claim</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="LecturerClaims" asp-action="UploadDocument">Upload Document</a>
                                                </li>
                                                <li>
                                                    <a class="dropdown-item" asp-area="" asp-controller="LecturerClaims" asp-action="TrackClaims">Track Claims</a>
                                                </li>
                                              

                                            </ul>
                                        </li>
                                    }
                                </ul>
                                </div>
                            </nav>
                        
                        @if (User.IsInRole("ProgrammeCoordinator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="CoordinatorClaims" asp-action="PendingClaims">Verify Claims</a>
                            </li>
                        }
                        @if (User.IsInRole("AcademicManager"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="ManagerClaims" asp-action="AllClaims">Approve Claims</a>
                            </li>
                        }
                         @if (User.IsInRole("HR"))
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="HRDashboard" asp-action="Index">HR Dashboard</a>
                            </li>
                        }
                      
                    </ul>
                </div>
            </div>


            <ul class="navbar-nav">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        <span class="nav-link">Hello, @User.Identity.Name!</span>
                    </li>
                    <li class="nav-item">
                        <form asp-controller="Account" asp-action="Logout" method="post" class="form-inline">
                            <button type="submit" class="btn btn-link nav-link" aria-label="Logout">Logout</button>
                        </form>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Login", "Account")">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Register", "Account")">Register</a>
                    </li>
                }
            </ul>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
   
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
